<article>
  <a class="image featured" {% if dataproject.source %}href="{{ dataproject.source }}"{% endif %}>
    {% if dataproject.image %}
    <img src="{{ dataproject.image.url | default: '' }}"
         alt="{{ dataproject.image.alt | default: '' }}" />
    {% else %}
      <img class="no-image" alt="No image provided" />
    {% endif %}
  </a>

  <header>
    {% if dataproject.source %}
    <a href="{{ dataproject.source }}">
    {% endif %}
      <h3>
        {{ dataproject.title }}
        <span class="timestamp">{{ dataproject.displayDate }}</span>
      </h3>
    {% if dataproject.source %}
    </a>
    {% endif %}
  </header>

  <p>
    {{ dataproject.blurb }}
  </p>

  <p>
    by {{ dataproject.authors }}
  </p>

  <p>
  {% for link in dataproject.links %}
    <a href="{{ link.url }}">{{ link.text }}</a>
  {% endfor %}
  </p>
</article>
