<article>
  <a class="image featured" {% if members.source %}href="{{ members.source }}"{% endif %}>
    {% if members.image %}
    <img src="{{ members.image.url | default: '' }}"
         alt="{{ members.image.alt | default: '' }}" />
    {% else %}
      <img class="no-image" alt="No image provided" />
    {% endif %}
  </a>

  <header>
    {% if members.source %}
    <a href="{{ members.source }}">
    {% endif %}
      <h3>
        {{ members.title }}
        <span class="timestamp">{{ members.displayDate }}</span>
      </h3>
    {% if members.source %}
    </a>
    {% endif %}
  </header>

  <p>
  {% for link in members.links %}
    <a href="{{ link.url }}">{{ link.text }}</a>
  {% endfor %}
  </p>
</article>
